body {
    background-color: #EEF9BF;
}
main {
    background-color: #EEF9BF;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #EEF9BF;
    display: flex;
    justify-content: center;
    width: 100vw;
    align-items: center;
    text-align: center;
}

header > h1 {
    color: #75B79E;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    margin-top: 40px;
    margin-bottom: 47px;
}

section {
    max-width: 1000px;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mesa {
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}

.card {
    width: 117px;
    height: 146px;
    margin: 0 17px;
    margin-bottom: 34px;
    position: relative;
}

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.back-face {
    transform: rotateY(180deg);
}
.back-face > img {
    width: 80%;
}

.virar-tras {
    transform: rotateY(0deg);
}

.virar-frente {
    transform: rotateY(-180deg);
}
.virar-tras-fixo {
    transform: rotateY(0deg);
}

.virar-frente-fixo {
    transform: rotateY(-180deg);
}

@media (max-width: 600px) {
    header > h1 {
        font-size: 36px;
    }
    .card {
        margin: 0;
        margin-bottom: 34px;
    }
    section {
        max-width: 200px;
    }
}
